/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 80px;
  background-color: #000000;
  color: white;
}

.logoNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.menu {
  border: 2px solid rgba(178, 173, 173, 0.262);
  border-radius: 30px;
  position: relative;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
  padding: 0;
  margin: 5px;
  height: 30px;
}

nav ul li a {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: color 0.3s;
  border-radius: 30px;
  padding: 6px 12px;
}

nav ul li a.active {
  background-color: rgba(178, 173, 173, 0.262);
}

.cta1,
.cta2 {
  padding: 10px 20px;
  background-color: #6241ff;
  color: white;
  border-radius: 25px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta1:hover,
.cta2:hover {
  background-color: #8b6bff;
}

.mobileNav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 18px;
  font-size: 0.8rem;
}

.mobileNav ul li a {
 text-decoration: none;
 color: white;
}
.mobileNav ul li a.active {
  padding: 5px 10px;
  border-radius: 360px;
  background-color: rgba(178, 173, 173, 0.262);
}

.mobileNav {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-20px);
  transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease; /* transition of mobile nav */
}

.menu-active {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
}

/* Media Queries */

@media (max-width: 1024px) {
  header {
    padding: 1rem 40px;
  }
  nav ul {
    gap: 10px;
  }
  .cta1,
  .cta2 {
    padding: 10px 20px;
    background-color: #6241ff;
    color: white;
    border-radius: 25px;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  nav ul li a {
    font-size: .8rem;
    font-weight: 400;
    padding: 6px 12px;
  }
}

/* Mobile View */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 1rem 30px;
  }

  .logoNav {
    width: 100%;
    justify-content: space-between;
  }

  .menu {
    display: none;
  }

  .cta1 {
    display: none;
  }

  .cta2 {
    display: block;
    padding: 8px 10px;
    font-size: 0.7rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .menu-active nav ul {
    display: flex;
  }
}

@media (min-width: 769px) {
  .hamburger {
    display: none;
  }

  .mobileNav {
    display: none;
  }
}
