.hero {
    display: flex;
    flex-direction: column;
    padding: 20px 80px 37px;
    background: linear-gradient(to top left, #4a4aed 30%, black 70%);
    color: white;
    text-align: left; 
    position: relative;
    gap: 15px;
  }
  
  .hero h1 {
    width: auto; 
    font-size: 5rem; /* Large heading for desktop */
  }
  
  .hero p {
    margin-top: 20px;
    font-size: 1.2rem; /* Default paragraph size */
  }
  
  .secDescription {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start; 
    align-items: center;
  }
  
  .explore-btn {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    gap: 10px;
  
  }

  .secImg{
    position: absolute;
    margin-left: 30%;
    overflow: hidden;
    border-radius: 20px 0px 0px 0px;
  }
  .secImg img{
    width: 983px;
    max-height:270px;
  }
  
  /* RESPONSIVE STYLES */
  @media (max-width: 1024px) {
    .hero {

      padding: 20px 80px 37px 40px;
      gap: 0px;
     
    }
    .hero h1 {
      font-size: 4rem; /* Slightly smaller heading */
    }
  
    .hero p {
      font-size: 1.1rem; /* Smaller paragraph size */
    }
    .secImg img{
      width: 60vw;
      height: 30vh;
    }
     .secImg {
      display: none; /* Hide the image on smaller screens */
    }
  }
  
  @media (max-width: 768px) {
    .hero {
      padding: 30px; /* Reduce padding on smaller screens */
    }
  
    .hero h1 {
      font-size: 3rem; /* Adjust heading size for mobile */
    }
  
    .hero p {
      font-size: 1rem; /* Adjust paragraph size for mobile */
    }
  
    .secDescription {
      flex-direction: column; /* Stack items vertically */
      align-items: flex-start; /* Align to the left */
      gap: 10px; /* Add spacing between items */
    }
  
    .secImg {
      display: none; /* Hide the image on smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .hero {
      padding: 30px; 
    }
  
    .hero h1 {
      font-size: 2.5rem; 
    }
  
    .hero p {
      font-size: 0.9rem; 
    }
  }
  