.hero {
  display: flex;
  flex-direction: column;
  padding: 20px 80px 37px;
  background: linear-gradient(to top left, #4a4aed 30%, black 70%);
  color: white;
  text-align: left; 
}

.hero h1 {
  width: auto; 
  font-size: 5rem;
}

.hero p {
  margin-top: 20px;
  font-size: 1.2rem;
}

.secDescription {
  display: flex;
  flex-direction: row; 
  justify-content: flex-start; 
  align-items: center;
}

.explore-btn {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

/* RESPONSIVE STYLES */
@media (max-width: 768px) {
  .hero {
    width: 100%;
    padding: 30px; /* Reduce padding on smaller screens */
  }

  .hero h1 {
    font-size: 3rem; /* Adjust heading size */
  }

  .hero p {
    font-size: 1rem; /* Adjust paragraph size */
  }

  .secDescription {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: flex-start; /* Align to the left */
  }

  .secImg {
    display: none; /* Hide the image on smaller screens */
  }
}
