.leaderListMain {
  border-radius: 360px;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 587px;
  height: 163px;
}
.content {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 360px 360px 0px;
  border-left: none;
  font-size: 1.5rem;
}

/* Responsive Styles */

/* Tablet (max-width: 1024px) */
@media (max-width: 1024px) {
  .leaderListMain {
    width: 587px;
    height: 18vh;
    border-radius: 360px;
  }
}

/* Mobile Landscape (max-width: 768px) */
@media (max-width: 768px) {
  .leaderListMain {
    width: 587px;
    height: 15vh;
    border-radius: 360px;
  }
}

/* Mobile Portrait (max-width: 480px) */
@media (max-width: 480px) {
  .leaderListMain {
    width: 587px;
    height: 12vh;
    border-radius: 360px;
  }
}
